# Wyklucz konfigurację serwera i bazy z liczenia statystyk kodu
nginx/** linguist-detectable=false
sql/** linguist-detectable=false

# Oznacz te foldery jako "sprzętowe/zewnętrzne" (vendored)
nginx/** linguist-vendored
sql/** linguist-vendored

# Wymuś PHP dla plików, które mogą być mylone z Hack
*.php linguist-language=php
